body{
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family:Serif;

}
#content{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family:Serif;
    padding: 10%;
    margin-top: 0px;
    padding-top: 0px;  
}
nav{
    background-color: black;
    margin-bottom: 50px;
    padding-top: 10px;
}
hr{
    margin: 20px;
}


p{
    line-height: 2;
    letter-spacing: 4px;
}
a{
    color: white;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

#name{
    text-align: center;
    color: white;
    
    
}

#MyPic{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 400px;

}

h1{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 35px;
    margin: 25px;
}
header{
    display: flex;
    flex-direction: column;
    border-color: white;


}
#space{
    display: inline;
}
.textAndLink{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
p{
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 20px;
    width: 70%;
    letter-spacing: 2px;
    margin: auto;
}

ul{
    color: white;
    font-size: 30px;
    list-style:inherit;
}
li{
    margin-top: 15px;
}

#title{
    margin: 20px;
    color: white;
    text-decoration: underline;
}

#skillsNtools{
    display: flex;
    justify-content: space-evenly;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

img{
    height: fit-content;
}
#NavBar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
 
#NavBar li {
    display: inline;
    
    margin: 20px;
    margin-top: 0px;
}
#NavBar li a{
    text-decoration: none;
}

@media (max-width: 700px){
    #content{
        padding: 0px;
        margin: 0px;
    }
    li{
        font-size: 15px;
    }
    image{
        height: 100px;
        width: 100%;
    }
    #MyPic{
        height: 100px;
    }
    .projects{
        flex-direction: column;
    }
    p{
        font-size: 15px;
        margin-left: 0px;
        margin-right: 0px;
    a{
        font-size: 17px;
    }
    h1{
        font-size: 20px;
        text-align: center;
    }
    
}

