#test{
    display: none;
}
body{
    margin: 0%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 15%;
    background-color: lightgray;
   
    

}
.slightBold{
    -webkit-text-stroke: 1px black;
}
.navagation{
    text-align: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100%;
    background-color: #2e3141; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.1s; /* 0.5 second transition effect to slide in the sidebar */
}
.navagation #logosDiv{
    justify-content: space-evenly;
}
.navagation #logosDiv img{
    margin-left: 0px;
}
/* When you mouse over the navigation links, change their color */
.navagation button:hover {
    color: #f1f1f1;
}
.openbtn {
    -webkit-text-stroke: 1px black;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 60px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  hr{
      width: 90%;
  }
  
  .openbtn:hover {
    background-color: #444;
  } 
  
#whitex:hover {
    background-color: gray;
    
  }
.sidebar .closebtn {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 36px;
    
    
  }
#whitex{
    background-color: transparent;
    border: transparent;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}
#whitex p{
    color: white;
    -webkit-text-stroke: 0px black;
    font-size: 20px;
    margin-top: 10px;
}
#whitex img{
    height: 20px;
    width: 20px;
}
div{
    margin:0px;
}

.logo{
    height: 60px;
    width: 60px;
    margin-left: 40px;
}

#logosDiv{
    padding-top: 5%;
    display: flex;
  
    justify-content: center;
}   
#name{
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}
#intro{
    text-align: center;
}
#home{
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    
}
#nameDiv{
    padding-top: 10%;
    width: fit-content;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#buttonsHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#upButton{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    border-color: transparent;
  
}
#uparrow{
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
}
.homebtn:hover {
    background-color: gray;
  }
.homebtn{
    
    margin: 0%;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 0px black;
    background-color: transparent;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    

}

h1{
    margin: 0px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 0px black;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutMeText{
    padding-top: 2%;
    -webkit-text-stroke: 0px;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    
}
#skillsLogoDiv{
    padding-top: 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.logoAndName{
    margin-right: 10px;
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.logoAndName img{
    margin: auto;
    
}
#projectsSectionTittle{
    padding-top: 10%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}
#about{
    height: fit-content;
    background-color: #4c5c96;

}
#projects2{
    height: fit-content;
    background: linear-gradient(to bottom right, #4c5c96 50%,#45558d 50%);
}
.projectName{
    padding-top: 3%;

}
.description{
    text-align: center;
    font-size: 20px;
    -webkit-text-stroke: 0px;
    
}
.projectDisplayBtn{
    height: fit-content ;
    width: fit-content;
    color: black;
    font-size: 30px;
}
#logosDiv3{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
#linkp{
    font-size: 20px;
    -webkit-text-stroke: 0px;
    text-align: center  ;
    margin-top: 10%;
}

#projects3{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    background-color: #45558d;
    flex-wrap: wrap;
}
.projectsExampleDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    align-items: center;
    height: fit-content + 40px;
}
p{
    margin: 0px;
    color: white;
    text-align: center;
}

#emailTitle{
    text-align: center;
    margin-bottom: 5%;
}
#bottom{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    background-color: #2e3141;
}
#emailDiv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    
   
}
#email{
    text-align: center;
    width: 25%;

}
#vl{
    border-left: 6px solid white;
    height: 200px;

}
.logo2{
    height: 50px;
    width: 50px;
    
}

#logosDiv2{
    height: fit-content;
    text-align: center;
    padding-left: auto;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.projectdesc{
    max-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    

}
.projectpic{
    height: fit-content;
    width: fit-content;
    max-height: 50%;
    max-width: 50%;
    align-items: center;
}
#textWrapper{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.wrapper{
    margin: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
p{
    margin: 0px;
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 0px black;
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
}
.active{
    color: black;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0px;
    display:none;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.modalContent{
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
    width: 65%;
    height: fit-content;
    min-height: 60%;
    max-height: 80%;
    background-color: #45558d;
}
.modalContent::-webkit-scrollbar {
    display: none;
}

.closeDiv{
    top: 0px;
    right: 0px;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin: 5px;
 
}
#modlepic2{
    height: 500px;
    margin-right: 5%;
}
#phone{
    flex-direction: row;
    justify-content: space-around;
}


@media (max-device-width:1000px) {
    body{
        padding-left: 0%;
    }
    .navagation{
        width: 0px;
    }
    #name{
        padding-top: 20%;
        
    }
    #nametitle{
        font-size: 30px;
    }
    .aboutMeText{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    #projects3{
        flex-direction: column;
        margin-right: 0px;
        padding-right: 0px;
        align-items: center;
    }
    #skillsDiv{
        text-align: center;
        align-items: center;
    }
    #skillsLogoDiv{
        margin:auto;
        max-width: 80%;
    }
    #phone{
        flex-direction: column;
    }
    .projectpic{
        
        max-height: 60%;
        width: 100%;
        max-width: 100%;

    }
    .modalContent{
        width: 90%;
        max-height: 90%;
    }
    .projectsExampleDiv{
        width: 90%;
        padding-bottom: 40px;
    }
}